@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(30, 38%, 92%);
}
.flexbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
.flexbox-item1{
    width: 270px;
    height: 450px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
   
}
.image{
    width: 270px;
    height: 450px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.flexbox-item2{
    width: 250px;
    height: 450px;
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-inline: 20px;
}
.Perfume{
    text-transform: uppercase;
    padding: 1rem;
    padding-top: 2rem;
    font-family: "Fraunces", sans-serif;
    text-align: justify;
    color:  hsl(228, 12%, 48%);
    letter-spacing: 0.3rem;
    font-weight: 500;
    font-size: 15px;
}
h1{
    padding: 1rem;
    color:  hsl(212, 21%, 14%);
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
}
.details{
    padding: 1rem;
    color:  hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
}
.flexbox-item3{
    display: flex;
    padding: 1rem;
    padding-inline: 10px;
}
h2{
    color:  hsl(158, 40%, 28%);
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    margin-right: 15px;
}
h5{
    color:   hsl(228, 12%, 48%);
    text-decoration: line-through;
    margin-right: 40px;
    margin-top: 7px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
button{
    width: 200px;
    height: 40px;
    background-color:  hsl(158, 36%, 37%);
    margin-left: 10px;
    border-radius: 5px;
    color:  hsl(0, 0%, 100%);
    border-style: none;
    font-family:  "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
}
@media screen and (max-width: 700px) {
    .flexbox-container{
        height: 550px;
        width: 375px;
        background-color:  hsl(30, 38%, 92%);
        border-radius: 10px;
        flex-direction: column;
    }
    .flexbox-item1{
        width: 300px;
        height: 200px;
        content: url(./images/image-product-mobile.jpg);
    }
    .image{
        width: 300px;
        height: 200px;
    }
    .flexbox-item2{
        width: 300px;
        height: 400px;
        background-color: hsl(0, 0%, 100%);
        padding-inline: 20px;
    }
    h1{
        padding: 1rem;
        color:  hsl(212, 21%, 14%);
        font-family: "Fraunces", sans-serif;
        font-weight: 700;
    }
    .Perfume{
        text-transform: uppercase;
        padding: 1rem;
        padding-top: 1rem;
        font-family: "Fraunces", sans-serif;
        text-align: justify;
        color:  hsl(228, 12%, 48%);
        letter-spacing: 0.3rem;
        font-weight: 500;
        font-size: 12px;
    }
    .details{
        padding: 1rem;
        color:  hsl(228, 12%, 48%);
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        font-weight: 700;
    }
    .flexbox-item3{
        display: flex;
        padding: 1rem;
        padding-inline: 10px;
    }
    h2{
        color:  hsl(158, 40%, 28%);
        font-family: "Fraunces", sans-serif;
        font-weight: 700;
        margin-right: 12px;
    }
    h5{
        color:   hsl(228, 12%, 48%);
        text-decoration: line-through;
        margin-right: 20px;
        margin-top: 5px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
    }
    button{
        width: 200px;
        height: 40px;
        background-color:  hsl(158, 36%, 37%);
        margin-left: 10px;
        border-radius: 5px;
        color:  hsl(0, 0%, 100%);
        border-style: none;
        font-family:  "Montserrat", sans-serif;
        font-size: 12px;
        font-weight: 700;
    }
}